<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<div>-->
<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <td>Id</td>-->
<!--            <td>name</td>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody th:each="route : ${routes}">-->
<!--        <tr>-->
<!--            <td th:text="${route.id}"></td>-->
<!--            <td th:text="${route.routeName}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->


<!--    &lt;!&ndash;    <span th:text="${city.name}">city name = </span>&ndash;&gt;-->
<!--    &lt;!&ndash;    <form th:action="@{/cities/del/{id} (id=${city.id})}">&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;        <input type="hidden" th:value="${city.id}">&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        <input type="submit" value="Delete">&ndash;&gt;-->
<!--    &lt;!&ndash;    </form>&ndash;&gt;-->
<!--    &lt;!&ndash;    <br>&ndash;&gt;-->
<!--</div>-->

<!--</body>-->
<!--</html>-->